# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PAO\E-TicketingPlatform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
